<html>
    <head>
        <title>Vue Tutorial</title>
        <script src="./js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- This lets you dynamically update the message. via an input box. -->
            {{ message }}
            <input v-model="message">

            <!-- How is adding type="text" help? -->
            {{ greeting }}
            <input type="text" v-model="greeting">
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    // These are default values.
                    // This must be single quotes to work!
                    message: 'Hello, Vue.js!',
                    greeting: 'Hello, World!'
                }
            })
        </script> 
    </body>
</html>